@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Sans+JP:wght@900&display=swap');

@font-face {
    font-family: DS-DIGII;
    src: url(../Font/DS-DIGII.ttf);
}
@font-face {
    font-family:digital-7 ;
    src: url(../Font/digital-7.ttf);
}



body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

#corpo{
    align:center;
    background-color: black;
    height: 200px;
    width: 400px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    
}

#tela {
    background: rgb(20, 12, 12);
    height: 150px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*
    
    
     flex-direction: row;
    
     */
}


#relogio{
    color: #00ced1;
    font-size:80px;
    font-family:'digital-7','DS-DIGII','Black Ops One', cursive;
    

    transform:translate (-50%,-50%);
    animation: neon 6s alternate infinite ease-in-out;
    ---cor-neon:#5f9ea0;
    display:flex;
}

#cumprimento{
    color: #00ced1;
    box-shadow: #5f9ea0;
    font-family:'digital-7', 'DS-DIGII','Black Ops One', cursive;
    display: block;
   justify-content: center;
   padding-top: 100px;
   
}

/* Define a sombra sem efeito */
@keyframes neon{
    from{
        filter: drop-shadow(0 0 0 var(---cor-neon)); 
    }
    to{
        filter: drop-shadow(0 0 10px var(---cor-neon)); 
    } 
}



